@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kaushan+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    width: 100%;
    background-color: #f7ebe8;
}

/* Start of NAV */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0.25em 10em;   
    background-color: #f7ebe8;
    /* height: 65px; */
    /* padding-top: 0.25em;
    padding-bottom: 0.25em; */
}

.main-nav{
    border: solid #707070 0.15em;
}

nav ul li {
    width: 7em;
    list-style-type: none;
    
   
} 

nav ul{
    padding-top: 0.25em;
}

a{
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    
}
.active{
    color:#e54b4b;
    font-weight: bold;
}

.logo{
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    color: #e54b4b;
    margin: 0;
    padding-top: 0.25em;
    /* font-weight: lighter; */
}

.cta{
    width: 1.5em;
    background-color: #e54b4b;
    padding: 0.6em;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

/* End of NAV */

/* Start of Section */

section{
    padding: 5em 25em;
}

.heading{
    font-family: 'Futura';
    font-size: 2em;
    color: #e54b4b;
}

.food-tile{
    height: 275px;
    width: 535px;
    background-image: url('../images/sinigang.png');
    background-size: cover;
    background-position: center bottom; /*this is a lifesaver - eto yung ayos ng position nung bg image*/
    border-radius: 15px;
}

.caption{
    margin: 0;
    height: 50px;
    max-width: 535px;
    position: relative; /*Relative because it is relative from its normal position*/
    top: 225px;     /*This means it is 225px from the top of its normal position*/
    background-color: #e54b4b;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   
    
}

 .recipe-name{
     font-family: 'Futura';
     font-size: 1.5em;
     font-weight: 600;
 }

figcaption, .icon-name{
    padding: 0.6em 0;
    color: white;
}

.material-icons{
    font-size: 1.2em !important;
    color: white;
     margin-top: 0.35em; 
}

.icon-name{
    display: flex;
}

/* Tile hover effect */



  .recipe-desc{
    position: relative; /*Relative because it is relative from its normal position*/
    
    bottom: 60px;
 
    width: 535px;
    color: white;
    opacity: 0;
    padding: 1.25em ;
    
}  

.food-tile:hover  .caption  {
    height: 100px;
    top: 175px;
    transition: all 1s ease;
   
}
.food-tile:hover  .recipe-desc{
    opacity: 1;
    bottom: 30px;
    transition: all 1s ease;
}





