@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kaushan+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    width: 100%;
    background-color: white;
}

/* Start of NAV */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0.25em 10em;   
    background-color: #f7ebe8;
    /* height: 65px; */
    /* padding-top: 0.25em;
    padding-bottom: 0.25em; */
}

.main-nav{
    border: solid #707070 0.15em;
}

nav ul li {
    width: 7em;
    list-style-type: none;
    
   
} 

nav ul{
    padding-top: 0.25em;
}

a{
    text-decoration: none;
    color: black;
}

/* li {
    list-style-type: none;
    
} */
.active{
    color:#e54b4b;
    font-weight: bold;
}

.logo{
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    color: #e54b4b;
    margin: 0;
    padding-top: 0.25em;
    /* font-weight: lighter; */
}

.cta{
    width: 1.5em;
    background-color: #e54b4b;
    padding: 0.6em;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

/* End of NAV */

/* Start of Section */

section{
    padding: 5em 25em;
}

.heading{
    font-family: 'Futura';
    font-size: 2em;
    color: #e54b4b;
}

.food-recipes{
    display: flex;
    margin-top: 4em;
    flex-wrap: wrap;
    gap: 5em; 
}
.food-tile{
    width: 500px;
    height: 350px;
    
    background-size: cover;
    background-position: center bottom; /*this is a lifesaver - eto yung ayos ng position nung bg image*/
    border-radius: 15px;
    padding: 0;
    margin: 0;
  
}

/* Food Backgrounds */
.food-bg-1{
    background-image: url('../images/sinigang.png');
}
.food-bg-2{
    background-image: url('../images/munggo.jpg');
}
.food-bg-3{
    background-image: url('../images/adobo.jpg');
}
.food-bg-4{
    background-image: url('../images/bistek.jpg');
}

.caption{
    margin: 0;
    height: 50px;
    max-width: 535px;
    position: relative; /*Relative because it is relative from its normal position*/
    top: 300px;     /*This means it is 225px from the top of its normal position*/
    background-color: #e54b4b;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   
    
}

 .recipe-name{
     font-family: 'Futura';
     font-size: 1.5em;
     font-weight: 600;
 }

figcaption, .icon-name{
    padding: 0.6em 0;
    color: white;
}

.material-icons{
    font-size: 1.2em !important;
    color: white;
     margin-top: 0.35em; 
}

.icon-name{
    display: flex;
}

/* Tile hover effect */



  .recipe-desc{
    position: relative; /*Relative because it is relative from its normal position*/
    bottom: 60px;
    width: 535px;
    color: white;
    opacity: 0;
    padding: 1.25em ;
    
}  

    .pad-adj{
        padding-left: 1em;
    }
.food-tile:hover  .caption  {
    height: 140px;
    top: 210px;
    transition: all 1s ease;
   
}
.food-tile:hover  .recipe-desc{
    opacity: 1;
    bottom: 15px;
    transition: all 1s ease;
}


/*Sinigang Recipe*/
.bg-filler{
    max-width: auto;
    max-height: 225px; 
    background-color: #e54b4b;
    padding: 5em 25em 2em;
    display: flex;
}

.recipe-heading{
    margin: 0;
    padding: 0;
}
.white{
    color:#f7ebe8;
    margin: 0;  
    margin-top: 0.5em;
}

.white-real{
    color:#f7ebe8;
}
.big{
    font-size: 4em;
  
}

.show{
    opacity: 1;
}

.recipe-descrip{
 
    width: 535px;
    color: white;
}  


/* Recipe Pic, Ingredients, Extras */
.left{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    /* height: 50vh; */
    width: 50vw;
    padding-top: 5em;
    gap: 4em;

}

.resize{
    width: 500px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
    /* position: absolute;  - ETO YUNG PATALO */
   
}

.ingredients-block{
   width: 450px;
   padding: 1.5em;
   border-radius: 15px;
   background-color: #f7ebe8;;
}

.instructions-block{
    margin-top: 4em;
    width: 600px;
    padding: 1.5em;
    border-radius: 15px;
    background-color: #e54b4b;
 }
.pad-left{
    padding-left: 0.5em;
}

 .ingredients-list, .instructions-list{
     line-height: 180%;
     
 }

 .black{
     color: black;
 }






.inline{
    display: flex;
    gap: 2em;
}

.pad-adj-bot{
    padding-bottom: 0.25em;
}
/* Right */

.right{
    width: 50vw;
    padding-left: 5em;
}

.top{
    margin-top: 2em;
}
/* Nutrition Facts */
.nutrition-facts-blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.nutrition-small .upper, .lower{
    width: 90px;
    height: 20px;
    text-align: center;
    padding: 0.5em;
    margin: 0;

}

.upper{
    border: solid black 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #f7ebe8;
    
}

.lower{
    border: solid black 1px;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: #f7ebe8; */
}


/*extras */

.food-tile-small{
    display: flex;
    gap: 2em;
}
.small{
    max-width: 235px;
    height: 170px;
}

.caption-small{
    margin: 0;
    height: 50px;
    max-width: 535px;
    position: relative; /*Relative because it is relative from its normal position*/
    top: 120px;     /*This means it is 225px from the top of its normal position*/
    background-color: #e54b4b;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

